extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{projects.project_name}

        p.lead.text-light #{projects.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each tech in projects.technologies
            li #{tech}

        a.btn-link(href=`${projects.live_link}` target="blank") Live Demo
        a.btn-link(href=`${projects.github_link}` target="blank") GitHub Repo

    .project-img-box.box

      each photo in projects.image_urls
        img.project-img(src=`${photo}`, alt='project photo')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
